* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  touch-action: manipulation; // prevent Double-tap
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang TC', 'Segoe UI',
    'Noto Sans TC', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial,
    'Source Han Sans TC', sans-serif;
}

// NUXT PAGE TRANSITION
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter {
  opacity: 0;
}
.page-leave-to {
  opacity: 0;
}
// NUXT PAGE TRANSITION
