$primary: #10384a;
$danger: #ff6e50;
$light-blue: #4c7bca;
$light-gray: #d2d2d2;
$dark-gray: #4d4d4d;
$white: #ffffff;

$elevatorDuration: 1s;
$elevatorCurve: cubic-bezier(0.65, 0.05, 0.36, 1);

$pc-breakpoint: 1025px;
