#page-home {
  //顯示角色總覽區塊
  &.show-overview {
    #home-section {
      top: -100%;

      .bg {
        top: -15vh;
      }
    }
    #overview-section {
      top: 0;
    }
  }
}
#home-section {
  width: 100%;
  height: 100%;
  position: fixed; // prevent iOS safari scroll bounce
  top: 0;
  left: 0;
  overflow: hidden;
  background: $white;

  transition: top $elevatorDuration $elevatorCurve;

  // 背景
  .bg {
    position: fixed;
    z-index: 0;
    height: 96vh;
    width: auto;
    top: 2vh;
    left: 0;

    transition: top $elevatorDuration $elevatorCurve;
  }

  .vip {
  }

  .gates {
    position: absolute;
    z-index: 10;
    width: 100%;
    max-width: 390px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    padding: 8px;

    .gate-wrapper {
      width: 29.7vw;
      max-width: 116px;
      height: auto;

      display: flex;
      flex-direction: column;
      position: relative;

      .gate-notification {
        position: absolute;
        left: 17px;
        top: -14px;
        z-index: 1;
        border: 5px solid $white;
        width: 18px;
        height: 18px;
        border-radius: 18px;
        background-color: #ff6e50;
        box-sizing: content-box;
      }
    }

    .gate {
      width: 100%;
      height: 29.7vw;
      max-height: 116px;
      border-radius: 30px;
      position: relative;
      text-decoration: none;
      position: relative;
      overflow: hidden;
      box-shadow: 0px 10px 13px rgba($color: $primary, $alpha: 0.16);

      // 名稱
      &__name {
        color: $white;
        position: absolute;
        z-index: 1;
        top: 14px;
        right: 14px;
      }
      // 背景
      &__bg {
        position: absolute;
        z-index: 0;
        top: 14px;
        right: 28px;
      }
      // 鎖住
      &__block {
        position: absolute;
        z-index: 2;
        inset: 0;
        background-color: rgba($color: $white, $alpha: 0.7);

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    // 角色
    .gate.char {
      background-color: $primary;
    }
    // 廣場
    .gate.gather {
      background-color: $primary;
      .gate__bg {
        right: 43px;
      }
    }
    // 大廳
    .gate.meet {
      background-color: $primary;
      .gate__bg {
        right: 12px;
      }
    }

    .gate-time {
      width: 100%;
      height: 20px;
      line-height: 20px;
      text-align: center;
      margin-top: 8px;
      font-size: 14px;
      color: $dark-gray;
    }
  }
}
