#page-playland,
#page-meet {
  padding-top: 101px;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 101px 8px 166px 8px;

  color: $primary;

  // 上方圖
  .top-img {
    width: 100%;
  }
  .pc-top-img {
    display: none;
  }
  .rights {
    margin-top: 128px;
    text-align: center;
    font-size: 13px;
    color: $primary;
  }

  // 標題
  .title {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 32px;
    text-align: center;
    font-weight: 500;
  }

  .block-wrapper {
    padding: 0 15px;
  }

  .block {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;

    &__img {
      width: 92%;
      margin: 0 auto 25px auto;
      border-radius: 8px;
    }
    &__text {
      line-height: 25px;

      .light {
        color: #8196a0;
      }
    }
  }

  .link {
    position: fixed;
    z-index: 50;
    bottom: 40px;
    left: 38px;
    right: 38px;
    overflow: hidden;
    cursor: pointer;

    display: block;
    border: 14px solid $primary;
    height: 113px;
    border-radius: 60px;
    box-shadow: 0px 10px 13px rgba($color: $primary, $alpha: 0.16);

    line-height: 88px;
    text-align: center;
    font-size: 20px;
    color: $white;
    font-weight: 500;
    text-decoration: none;

    background-color: $light-gray;
    background-repeat: no-repeat;

    .lock {
      position: absolute;
      inset: 0;
      background-color: rgba($color: $white, $alpha: 0.77);

      .icon {
        position: absolute;
        top: 27px;
        right: 28px;
      }
    }
  }
  .pc-card {
    display: none;
  }

  // 桌機
  @media screen and (min-width: $pc-breakpoint) {
    max-width: 794px;
    padding: 110px 0px 21px 0px;

    .rights {
      margin-top: 150px;
    }

    .top-img {
      display: none;
    }
    .pc-top-img {
      display: block;
      width: 100%;
    }

    // 標題
    .title {
      margin-top: 55px;
      margin-bottom: 50px;
    }

    .block {
      margin-bottom: 22px;

      &__img {
        width: 100%;
      }
      &__text {
        padding: 0 26px;
      }
    }

    .link {
      width: 314px;
      left: auto;
      right: 21px;
      bottom: 27px;
    }
    .link:active ~ .pc-card {
      bottom: 50px;
    }
    .pc-card {
      display: block;
      position: fixed;
      right: 86px;
      bottom: 106px;
      width: 184px;
      height: 178px;
      overflow: hidden;
      z-index: 40;
      transition: bottom 0.2s ease;

      &__img {
        width: 100%;
      }
    }
  }
}

#page-playland {
  .link {
    background-image: url('@/assets/images/nav/menu_bg_3@2x.png');
    background-size: 230%;
    background-position: 65% 58%;
  }
}
#page-meet {
  .link {
    background-image: url('@/assets/images/meet/link_bg@2x.png');
    background-size: 190%;
    background-position: 52% 90%;
  }
}
