#page-playland,
#page-meet {
  padding-top: 101px;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 101px 8px 166px 8px;

  color: $primary;

  // 上方圖
  .top-img {
    width: 100%;
  }

  // 標題
  .title {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 32px;
    text-align: center;
    font-weight: 500;
  }

  .block-wrapper {
    padding: 0 15px;
  }

  .block {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;

    &__img {
      width: 92%;
      margin: 0 auto 25px auto;
    }
    &__text {
      line-height: 25px;

      .light {
        color: #8196a0;
      }
    }
  }

  .link {
    position: fixed;
    z-index: 50;
    bottom: 40px;
    left: 38px;
    right: 38px;
    overflow: hidden;

    display: block;
    border: 14px solid $primary;
    height: 116px;
    border-radius: 60px;
    box-shadow: 0px 3px 6px rgba($color: $primary, $alpha: 0.2);

    line-height: 88px;
    text-align: center;
    font-size: 20px;
    color: $white;
    font-weight: 500;
    text-decoration: none;

    background-color: $light-gray;
    background-repeat: no-repeat;

    .lock {
      position: absolute;
      inset: 0;
      background-color: rgba($color: $white, $alpha: 0.77);

      .icon {
        position: absolute;
        top: 27px;
        right: 28px;
      }
    }
  }
}

#page-playland {
  .link {
    background-image: url('@/assets/images/nav/menu_bg_3@2x.png');
    background-size: 230%;
    background-position: 65% 58%;
  }
}
#page-meet {
  .link {
    background-image: url('@/assets/images/meet/link_bg@2x.png');
    background-size: 190%;
    background-position: 52% 90%;
  }
}
